*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url('img/bg.jpg');
    background-size: cover; 
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background-color: skyblue;
    border-radius: 5px;
}
.label{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.login{
    padding:  20px 40px;
}
.login .font{
    font-size: 18px;
    color: aliceblue;
    margin: 5px;
    /* margin-bottom: 30px; */
}
.login input{
    height: 40px;
    width: 350px;
    padding: 0px 5px;
    font-size: 18px;
    outline: none;
    color: black;
    border: 1px solid skyblue;
}
.login #font2{
    margin-top: 30px;
}
.login button{
    margin: 45px 0px 30px 0px;
    height: 45px;
    width: 365px;
    font-size: 20px;
    /* color: aliceblue; */
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background:rgb(5, 8, 139);
    border-radius: 3px;
    border: 1px solid white;
    color: aliceblue;
}
.login button:hover{
    background: rgb(44, 44, 146);
}
.login #email_error,
.login #password_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: rgb(203, 5, 5);
    background: rgb(247, 137, 137);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid black;
    display: none;
}

